
*.DS_Store

addons
libs
scripts
examples
other
projectGenerator
scripts

export

readme.txt
changes.txt
license.md

apps/2012_Weihnachten
apps/2013_federkraft
apps/2013_photoBoxEntwickler
apps/kazooshLite
apps/myApps

apps/2013_interlab/emotiontracker_osc/bin/opencvExample.app
apps/2013_interlab/familyPortrait/bin/opencvExample.app

apps/2013_interlab/oscSender/bin/oscSenderExampleDebug.app
apps/2013_interlab/oscSender/build

apps/2013_interlab/familyPortrait/bin
!apps/2013_interlab/familyPortrait/bin/data
apps/2013_interlab/familyPortrait/obj