
*.DS_Store

addons
libs
scripts
examples
other
projectGenerator
scripts

export

readme.txt
changes.txt
license.md

apps/2012_Weihnachten
apps/2013_federkraft
apps/2013_photoBoxEntwickler
apps/kazooshLite
apps/myApps

apps/2013_interlab/emotiontracker_osc/bin/opencvExample.app
apps/2013_interlab/familyPortrait/bin/opencvExample.app
apps/2013_interlab/familyPortrait/bin/data/mySettings.xml
apps/2013_interlab/familyPortrait/build/

apps/2013_interlab/familyPortraitProjection/bin/opencvExample.app
apps/2013_interlab/familyPortraitProjection/build/

apps/2013_interlab/PhotoBooth_combined/bin/ofAppDebug.app
apps/2013_interlab/PhotoBooth_combined/build

apps/2013_interlab/oscSender/bin/oscSenderExampleDebug.app
apps/2013_interlab/oscSender/build

apps/2013_interlab/familyPortrait/bin
!apps/2013_interlab/familyPortrait/bin/data
apps/2013_interlab/familyPortrait/obj

apps/2013_interlab/PhotoBooth/bin/PhotoBoothDebug.app
apps/2013_interlab/PhotoBooth/bin/PhotoBooth.app
apps/2013_interlab/PhotoBooth/bin/data/capture/*
apps/2013_interlab/PhotoBooth/bin/data/saved/*
apps/2013_interlab/PhotoBooth/build/

apps/2013_interlab/oscSender/build
apps/2013_interlab/oscSender/obj
apps/2013_interlab/oscSender/bin/*
!apps/2013_interlab/oscSender/bin/data

apps/2013_interlab/oscReceiver/build
apps/2013_interlab/oscReceiver/obj
apps/2013_interlab/oscReceiver/bin/*
!apps/2013_interlab/oscReceiver/bin/data

apps/2013_interlab/PhotoBooth
apps/2013_interlab/PhotoBooth/Photobooth.xcodeproj